:root {
  --ifm-color-primary: #0c63e7;
  --ifm-color-primary-dark: #0b59d0;
  --ifm-color-primary-darker: #0a53c3;
  --ifm-color-primary-darkest: #083f99;
  --ifm-color-primary-light: #3a7df0;
  --ifm-color-primary-lighter: #5a92f2;
  --ifm-color-primary-lightest: #8bb1f6;
}

.hero--primary {
  background: radial-gradient(circle at 20% 20%, #122c63, #0c63e7);
  color: #fff;
}

.hero__title {
  font-weight: 700;
}
.hero__subtitle {
  opacity: 0.9;
}
